<?xml version="1.0"?>
<config>
    <modules>
        <Oye_Pushover>
            <version>1.0.0</version>
        </Oye_Pushover>
    </modules>
    <global>
        <models>
            <oye_pushover>
                <class>Oye_Pushover_Model</class>
            </oye_pushover>
        </models>
        <helpers>
            <oye_pushover>
                <class>Oye_Pushover_Helper</class>
            </oye_pushover>
        </helpers>
        <events>
          <sales_order_place_after>
              <observers>
                  <order_notification>
                      <class>oye_pushover/observer</class>
                      <method>sendNewOrderNotification</method>
                  </order_notification>
              </observers>
          </sales_order_place_after>
          <cataloginventory_stock_item_save_after>
            <observers>
                <oye_pushover_stock_item_save>
                    <type>singleton</type>
                    <class>oye_pushover/observer</class>
                    <method>sendLowStockNotification</method>
                </oye_pushover_stock_item_save>
            </observers>
          </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <adminhtml>
        <acl>
          <resources>
              <all>
                  <title>Allow Everything</title>
              </all>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                      <oye_pushover>
                                          <title>Oye Pushover - All</title>
                                      </oye_pushover>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
        </acl>
    </adminhtml>
</config>
